.form {
    width: 100%;
}

.field {
    width: 100%;
    margin-bottom: 2em;
    overflow: hidden;
}

.field label,
.fieldset legend {
    padding: 0;
    margin: 0;
}

.field input,
.field textarea {
    display: block;
    width: 100%;
    padding: .3rem 0;

    background: #fff;
    border: 0;
    border-bottom: .2rem solid #a4b0be;
    outline: 0;
    
    font-family: inherit;
    font-size: 1em;

    transition: .2s ease-out;
}

.field input:focus,
.field input:valid,
.field textarea:focus,
.field textarea:valid {
    border-bottom-color: #2f3542;
}

.field textarea {
    resize: none;
}

.fieldset {
    margin: 0;
    padding: 0;

    border: 0;
    outline: none;
}

.radio {
    display: inline-block;
}

.radio::after {
    display: none;
}

.radio input {
    opacity: 0;
    width: 0;
}

.radio label {
    padding-bottom: .1em;

    transition: .2s ease-out;
}

.radio input:checked + label {
    border-bottom: .3rem solid #2f3542;
}

.radio:not(:last-child) {
    margin-right: 2em;
}

input[type=color] {
    display: block;

    width: 4em;
    height: 2em;
    padding: .2rem .4rem;
    
    border: 0;
    border-radius: .5rem;
    background-color: #dfe4ea;
    appearance: none;
}