.container {
    position: fixed;
    bottom: 4rem;
    left: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 0 4rem;

    z-index: 99;
}

.container > a,
.container > button {
    display: block;
}

.container > a:not(:first-child),
.container > button:not(:first-child) {
    margin-left: 2em;
}
