.container {
    padding: 3rem 4rem;
    color: #fff;
}

.inner {
    position: relative;

    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;
}

.title {
    position: relative;
    top: 0.2rem;

    margin: 0;
}

.back {
    position: absolute;
    left: -3.5rem;

    display: block;
    height: 2.3rem;
    width: 2.3rem;

    transition: 0.2s ease-out;
}

.back:hover,
.back:focus {
    transform: translateX(-0.5rem);

    cursor: pointer;
}

.actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.install {
    display: block;
    height: 2.8rem;
    width: 2.8rem;
    margin-right: 1.5rem;

    transition: 0.2s ease-out;
}

.install:hover,
.install:focus {
    transform: translateY(0.5rem);

    cursor: pointer;
}

.stairs {
    /* visual correction */
    position: relative;
    top: 0.5rem;

    display: block;
    width: 3.2rem;
}

.bar {
    display: block;
    width: 60%;
    height: 0.4rem;
    border-radius: 0.4rem;

    margin: 0 0 0.8rem auto;

    background: #fff;

    transition: 0.2s ease-out;
}

.stairs:hover .bar,
.stairs:focus .bar {
    width: 100%;
    margin-left: 0;
}

.bar:nth-child(1),
.bar:nth-child(3) {
    margin-left: 40%;
}

.bar:nth-child(2) {
    margin-left: 20%;
}
