.container {
    margin-bottom: 2em;
}

.inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.back {
    position: relative;
    top: -.1em;

    display: block;
    width: 1.8em;
    height: 1.8em;
    padding: .2em;

    border: .2rem solid #3d1f61;
    border-radius: .4rem;

    transition: .2s ease-out;
}

.back:hover,
.back:focus {
    background: #f2ecf9;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
}


.title {
    font-size: 1.2em;
    margin: 0 0 0 .8em;
}
