.container {
    position: relative;
    margin-bottom: 2.5em;
    padding-bottom: .8rem;
}

.container::before {
    content: "";

    position: absolute;
    left: -.15rem;
    bottom: 0;

    display: block;
    width: calc(100% + .3rem);
    height: .3rem;

    background: #a4b0be;
    border-radius: .15rem;
}

.inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.snippet {
    flex: auto 1 0;
    overflow: hidden;
}

.title {
    margin: 0;
}

.description {
    margin: 0 0 1em 0;

    overflow: hidden;

    text-overflow: ellipsis;
    white-space: nowrap;
}

.datetime {
    margin: 0;
}

.category {
    display: block;
    width: 1em;
    height: 2em;
    margin-left: .7em;
    border-radius: .2em;
}