.container {
  position: relative;
  margin-bottom: 2.5em;
  padding-bottom: 0.5em;
}

.container::before {
  content: "";

  position: absolute;
  left: -0.15rem;
  bottom: 0;

  display: block;
  width: calc(100% + 0.3rem);
  height: 0.3rem;

  background: #a4b0be;
  border-radius: 0.4rem;

  transition: 0.2s ease-out;
}

.container:hover::before,
.container:focus::before {
  background: #2f3542;
}

.inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.snippet {
  flex: auto 1 0;
  overflow: hidden;
}

.title {
  margin: 0;
}

.description {
  margin: 0 0 1em 0;

  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.datetime {
  margin: 0;
}

.category {
  display: block;
  width: 1em;
  height: 2.5em;
  margin-left: 0.7em;
  border-radius: 0.4rem;
}
