.form {
    width: 100%;
}

.field {
    width: 100%;
    margin-bottom: 2em;
    overflow: hidden;
}

.field label,
.fieldset legend {
    padding: 0;
    margin: 0;
    
    font-size: .8em;
    font-weight: bold;
}

.field input,
.field textarea {
    display: block;
    width: 100%;
    padding: .3rem 0;

    font-family: inherit;
    font-size: 1em;

    border: 0;
    border-bottom: .2rem solid #000;
    outline: 0;
}

.field textarea {
    resize: none;
}

.fieldset {
    margin: 0;
    padding: 0;

    border: 0;
    outline: none;
}

.radio {
    display: inline-block;
    font-size: 1.5em;
}

.radio::after {
    display: none;
}

.radio input {
    opacity: 0;
    width: 0;
}

.radio label {
    padding-bottom: .1em;
}

.radio input:checked + label {
    border-bottom: .3rem solid #000;
}

.radio:not(:last-child) {
    margin-right: 2em;
}